body {
    font-feature-settings: normal;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variation-settings: normal;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: rgb(162, 205, 243.1);
}

body::-webkit-scrollbar-thumb {
    background: #007BFF;
    transition: background 0.05s ease;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 255, 212);
}

header {
    background-color: rgba(95, 255, 247);
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 10px grey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    text-align: center;
    padding: 3%;
    margin: 0;
    z-index: 1001;
}

footer {
    padding: 2%;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px grey;
    width: 150px;
}

button:hover {
    background-color: rgb(127, 255, 212);
    color: rgb(0, 0, 0);
}

main {
    margin: 20%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5%;
    z-index: 999;
    margin-top: 30%;
}

main .container .i1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5%;
}

main .container .i1 img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin: 1%;
}

main .container .i2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 5%;
    }

    .container .i1 img {
        width: 100%; /* Ensure images take full width on small screens */
        max-width: none; /* Remove max-width on small screens */
    }
}
